<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" >

	<!-- beans -->
	<bean id="mundo" class="com.openwebinars.spring.hellospring.Mundo">
		<property name="saludo" value="¡Hola mundo!"></property>
	</bean>
	
	<bean id="mundoConstructor" class="com.openwebinars.spring.hellospring.Mundo">
		<constructor-arg name="saludo" value="¡Hola mundo constructor!"></constructor-arg>
	</bean>
	
	<bean id="vehiculo" class="com.openwebinars.spring.hellospring.Vehiculo">
		<property name="motor" ref="motorBean"></property>
		<property name="nombre" value="Vechiulo propiedades"/>
	</bean>
	
	<bean id="vehiculoConstructor" class="com.openwebinars.spring.hellospring.Vehiculo">
		<constructor-arg name="motor" ref="motorBean"/>
		<constructor-arg name="nombre" value="Vechiulo constructor"/>
	</bean>
	
	<bean id="motorBean" class="com.openwebinars.spring.hellospring.Motor">
		<constructor-arg name="bujia" ref="bujiaId"/>
	</bean>
	
	<bean id="bujiaId" class="com.openwebinars.spring.hellospring.Bujia">
		<constructor-arg name="precio" value="100"/>
	</bean>
	
	<bean id="vehiculoAnidado" class="com.openwebinars.spring.hellospring.Vehiculo">
		<property name="motor">
			<bean id="motorBean" class="com.openwebinars.spring.hellospring.Motor">
				<property name="bujia">
					<bean id="bujiaId" class="com.openwebinars.spring.hellospring.Bujia">
						<constructor-arg name="precio" value="100"/>
					</bean>
				</property>
			</bean>
		</property>
		<property name="nombre" value="Vehiculo anidado"/>
	</bean>
	
	<bean id="motorListaBujias" class="com.openwebinars.spring.hellospring.Motor">
		<property name="listaBujias">
			<list>
				<ref bean="bujiaId"/>
				<bean class="com.openwebinars.spring.hellospring.Bujia">
					<constructor-arg name="precio" value="200"/>
				</bean>
			</list>
		</property>
		<property name="bujia" ref="bujiaId"></property>
	</bean>
	
	<bean id="motorMapaBujias" class="com.openwebinars.spring.hellospring.Motor">
		<property name="mapaBujias">
			<map>
				<entry key="key1">
					<ref bean="bujiaId"/>
				</entry>
			</map>
		</property>
	</bean>
		
	
	<bean id="motorSetBujias" class="com.openwebinars.spring.hellospring.Motor">
		<property name="setBujias">
			<set>
				<ref bean="bujiaId"/>
				<bean id="bujiaId" class="com.openwebinars.spring.hellospring.Bujia">
					<constructor-arg name="precio" value="300"/>
				</bean>
			</set>
		</property>
	</bean>
	
	<bean id="motorProperties" class="com.openwebinars.spring.hellospring.Motor" lazy-init="true">
		<property name="properties">
			<props>
				<prop key="prop1">Valor propiedad 1</prop>
				<prop key="prop2">Valor propiedad 2</prop>
			</props>
		</property>
	</bean>
	<!-- Autowired -->
	<bean id="motorAutowired" class="com.openwebinars.spring.hellospring.Motor" autowire="byName">
		
	</bean>
	
	<bean id="bujia" class="com.openwebinars.spring.hellospring.Bujia">
		<property name="precio" value="1000000"></property>
	</bean>
	
	<!-- Ambitos -->
	<bean id="mundoSingleton" class="com.openwebinars.spring.hellospring.Mundo" scope="singleton">
		<property name="saludo" value="Mundo singleton"></property>
	</bean>
	
	<!-- Ciclo de vida -->
	<bean id="saludoBean" class="com.openwebinars.spring.hellospring.Saludo" init-method="inicar" destroy-method="destruir">
		<property name="saludo" value="Este es el ciclo de vida"></property>
	</bean>
	
	<!-- Con esta clase, se mira en todos los beans de este fichero y mira los métodos que tengan el postcontruct y el predestroy-->
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>
	
	<bean id="saludoBeanAnotaciones" class="com.openwebinars.spring.hellospring.Saludo">
		<property name="saludo" value="Este es el ciclo de vida"></property>
	</bean>
		
	
	

</beans>
